html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Arial, sans-serif;
  background: url(./BG.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }

.container {
  width: 300px;
  margin: 20px auto; }
  .container__box {
    border-radius: 8px; }
  .container__list {
    font-weight: 300;
    font-size: 25px;
    list-style: none; }
  .container__button {
    margin: 2px;
    border-radius: 8px;
    font-size: 22px; }

h1 {
  text-align: center; }

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; }

button {
  width: 100%;
  padding: 10px;
  background-color: #8122c09d;
  color: black;
  border: none;
  cursor: pointer; }

.title {
  text-align: center;
  color: black;
  background: #ffffffa6;
  border-radius: 8px; }
